<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button style="color:royalblue" autoHide="false"></ion-menu-button>
      </ion-buttons>
    <ion-title style="color:royalblue">La lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 
    <ion-list >
        <ion-item class="lineColor exito" no-padding no-margin>

          <div style="float:left">
              <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/techno-club-music-album-cover-flyer-template-c05f6a0e3cf975dee969c05ed9c7b25f_screen.jpg?ts=1483748042" width="150px" height="160px" alt="">
          </div>

          <div style="float:right; margin-top:1%;margin-left:3%" >
            <h5 style="background-color:blue;color:white" >Exito de la semana</h5>
              <h4 style="margin-top:1%;margin-bottom:2%"> Nombre de Cancion </h4>
              <small> Nombre de banda/Cantante</small>
          </div>
        </ion-item>


        <ion-item class="lineColor" no-padding no-margin>
            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/techno-club-music-album-cover-flyer-template-c05f6a0e3cf975dee969c05ed9c7b25f_screen.jpg?ts=1483748042" width="150px" height="160px" alt="">
            <div style="margin-top:1%;margin-left:3%;" >
              <h3 >1</h3>
                <h4 style="margin-top:1%;margin-bottom:2%"> Nombre de Cancion </h4>
                <small> Nombre de banda/Cantante</small>
            </div>
          </ion-item>
          <ion-item class="lineColor" no-padding no-margin>
              <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/techno-club-music-album-cover-flyer-template-c05f6a0e3cf975dee969c05ed9c7b25f_screen.jpg?ts=1483748042" width="150px" height="160px" alt="">
              <div style="margin-top:2%;margin-left:3%;"  >
                <h3 >2</h3>
                  <h4 style="margin-top:1%;margin-bottom:2%"> Nombre de Cancion </h4>
                  <small> Nombre de banda/Cantante</small>
              </div>
            </ion-item>
            <ion-item class="lineColor" no-padding no-margin>
                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/techno-club-music-album-cover-flyer-template-c05f6a0e3cf975dee969c05ed9c7b25f_screen.jpg?ts=1483748042" width="150px" height="160px" alt="">
                <div style="margin-top:2%;margin-left:3%;" >
                  <h3 >3</h3>
                    <h4 style="margin-top:1%;margin-bottom:2%"> Nombre de Cancion </h4>
                    <small> Nombre de banda/Cantante</small>
                </div>
              </ion-item>
      </ion-list>



</ion-content>
