.lineColor {
    border-bottom: 2px solid white;
}

.exito {
    background-color: red;
}

.playButton {
    margin-left: 20%;
    margin-top: 20%;
    width: 90px;
    height: 90px;
}

.effect .button-effect {
    display: none !important;
}