<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title text-center>Programas y podcats</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide padding *ngFor="let data of this.contact" (click)="this.openPage('channel');">
            <img src="{{data.url}}">
        </ion-slide>
    </ion-slides>

    <br>

    <ion-toolbar>
        <ion-segment [(ngModel)]="this.type">
            <ion-segment-button value="Programas">
                Programas
            </ion-segment-button>
            <ion-segment-button value="Momentos">
                Momentos
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <div [ngSwitch]="this.type">

        <div *ngSwitchCase="'Programas'">


            <br>

            <ion-item *ngFor="let data of this.contact" lines="full">

                <ion-thumbnail slot="start">
                    <img src="https://i.pinimg.com/originals/45/5d/d4/455dd42e78bd3a8ff66b88eb65c815f1.png">
                </ion-thumbnail>

                <ion-grid slot="start">

                    <ion-row class="bottomRow">
                        <ion-item lines="none">
                            <ion-label position="fixed">
                                <strong>Feedbacp</strong>
                            </ion-label>
                        </ion-item>
                    </ion-row>

                    <ion-row class="bottomRow">
                        <ion-item lines="none">
                            <ion-label>
                                Avui de 17 h a 20 h
                            </ion-label>
                            <ion-icon name="calendar" slot="start"></ion-icon>
                        </ion-item>
                    </ion-row>

                    <ion-row class="bottomRow">
                        <ion-item lines="none">
                            <ion-label>
                                03:00:00
                            </ion-label>
                            <ion-icon name="clock" slot="start"></ion-icon>
                        </ion-item>
                    </ion-row>

                </ion-grid>

            </ion-item>

        </div>

        <div *ngSwitchCase="'Momentos'">

            <br>

            <ion-item *ngFor="let data of this.contact" lines="full">

                <ion-thumbnail slot="start">
                    <img src="https://i.pinimg.com/originals/45/5d/d4/455dd42e78bd3a8ff66b88eb65c815f1.png">
                </ion-thumbnail>

                <ion-grid slot="start">

                    <ion-row>
                        <ion-item lines="none">
                            <ion-label class="wrapword">
                                <strong>Cantants que han construit gran imperi </strong>
                            </ion-label>
                        </ion-item>
                    </ion-row>

                    <ion-row class="bottomRow">
                        <ion-item lines="none">
                            <ion-label>
                                Avui de 17 h a 20 h
                            </ion-label>
                            <ion-icon name="calendar" slot="start"></ion-icon>
                        </ion-item>
                    </ion-row>

                    <ion-row class="bottomRow">
                        <ion-item lines="none">
                            <ion-label>
                                03:00:00
                            </ion-label>
                            <ion-icon name="clock" slot="start"></ion-icon>
                        </ion-item>
                    </ion-row>

                </ion-grid>

            </ion-item>

        </div>
    </div>



</ion-content>

<ion-footer>

    <app-player></app-player>

</ion-footer>