<ion-toolbar class="chat-box" color="dark">


    <di class="chat-head">

        <ion-grid class="chat-head">

            <ion-row>
                <ion-col size-sm (click)="this.expandBox()">
                    <ion-icon style="zoom:2.0;" [name]="this.arrow ? 'arrow-dropdown' : 'arrow-dropup'" color="purpure"></ion-icon>
                </ion-col>
                <ion-col size="6">

                    <ion-grid>
                        <ion-row>
                            <label>La lista</label>
                        </ion-row>
                        <ion-row>
                            <small>de 17 h a 20 h</small>
                        </ion-row>
                    </ion-grid>

                </ion-col>
                <ion-col size-sm (click)="mute()">
                    <ion-icon style="zoom:1.5;" [name]="this.muteunmuteBoolean ? 'volume-off' : 'volume-high'" color="play"></ion-icon>
                </ion-col>
                <ion-col size-sm (click)="playpause()">
                    <ion-icon style="zoom:1.5;" [name]="this.playpauseBoolean? 'pause' : 'play'" color="play"></ion-icon>
                </ion-col>
            </ion-row>

        </ion-grid>

    </di>


    <div class="chat-body">

        <ion-slides pager="true">
            <ion-slide>
                <ion-card>
                    <img src="{{this.contact[0].url}}">
                </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card>
                    <img src="{{this.contact[1].url}}">
                </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card>
                    <img src="{{this.contact[2].url}}">
                </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card>
                    <img src="{{this.contact[3].url}}">
                </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card>
                    <img src="{{this.contact[4].url}}">
                </ion-card>
            </ion-slide>
        </ion-slides>

    </div>


</ion-toolbar>