<ion-toolbar color="dark">

    <ion-grid>

        <ion-row>
            <ion-col size-sm (click)="this.expandBox()">
                <!--
                <ion-icon style="zoom:2.0;" [name]="this.arrow ? 'arrow-dropdown' : 'arrow-dropup'" color="purpure"></ion-icon>
                -->
                <ion-icon style="zoom:2.0;" *ngIf="this.arrow == true" src="../../../assets/vsg/_ionicons_svg_ios-arrow-down.svg" color="purpure"></ion-icon>
                <ion-icon style="zoom:2.0;" *ngIf="this.arrow == false" src="../../../assets/vsg/_ionicons_svg_ios-arrow-up.svg" color="purpure"></ion-icon>

            </ion-col>
            <ion-col size="6">

                <ion-grid>
                    <ion-row>
                        <label>La lista</label>
                    </ion-row>
                    <ion-row>
                        <small>de 17 h a 20 h</small>
                    </ion-row>
                </ion-grid>

            </ion-col>
            <ion-col size-sm>
            </ion-col>
            <ion-col size-sm (click)="this.RadioService.playpause()">

                <i style="zoom:1.5; color:#40e5e6;" *ngIf="this.RadioService.playpauseBoolean == true" class="material-icons">pause_circle_outline</i>
                <i style="zoom:1.5; color:#40e5e6;" *ngIf="this.RadioService.playpauseBoolean == false" class="material-icons">play_circle_outline</i>
                <!--
                <ion-icon style="zoom:1.5;" [name]="this.RadioService.playpauseBoolean ? 'pause' : 'play'" color="play"></ion-icon>
                -->
            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-slides *ngIf="this.arrow" pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let data of this.contact">
            <img src='{{data.url}}'>
        </ion-slide>
    </ion-slides>


</ion-toolbar>