

.lineColor {
    // border-top: 2px solid;
    border-bottom: 2px solid green;
    margin-bottom: 3%;
    color: gray;

}

.textPrivacy{
    color: black;
    size: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}