/************ START: SOCIAL MEDIA ******************/

$icon: 10 1em/50px 'FontAwesome';
.social {
    width: 500px;
    ul {
        li {
            background: #FF0080;
            border-radius: 50%;
            float: left;
            height: 50px;
            list-style: none;
            margin: 0 3px;
            width: 50px;
            &:before {
                font: $icon;
            }
            &:hover {
                animation: transform .5s forwards, shadow 1s forwards;
                -ms-animation: transform .5s forwards, shadow 1s forwards;
                -moz-animation: transform .5s forwards, shadow 1s forwards;
                -webkit-animation: transform .5s forwards, shadow 1s forwards;
            }
        }
        .facebook {
            &:hover {
                background: #3b5998;
            }
            &:before {
                color: #fff;
                content: '\f09a';
                display: block;
                line-height: 50px;
                text-align: center;
            }
        }
        .twitter {
            &:hover {
                background: #00aced;
            }
            &:before {
                color: #fff;
                content: '\f099';
                display: block;
                line-height: 50px;
                text-align: center;
            }
        }
        .google {
            &:hover {
                background: #dd4b39;
            }
            &:before {
                color: #fff;
                content: '\f0d5';
                display: block;
                line-height: 50px;
                text-align: center;
            }
        }
        .instagram {
            &:hover {
                background: #517fa4;
            }
            &:before {
                color: #fff;
                content: '\f16d';
                display: block;
                line-height: 50px;
                text-align: center;
            }
        }
    }
}

@-webkit-keyframes transform {
    from {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
    }
}

@keyframes transform {
    from {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
    }
}

@-webkit-keyframes shadow {
    from {
        box-shadow: 0 0 0 rgba(0, 0, 0, .25);
    }
    to {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}

@keyframes shadow {
    from {
        box-shadow: 0 0 0 rgba(0, 0, 0, .25);
    }
    to {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}


/************ END: SOCIAL MEDIA ******************/