<ion-app>
    <ion-menu style="width: 80%" contentId="menu" id="menuC" side="start" type="overlay" auto-hide="true" swipe-gesture="true">

        <ion-content>

            <br><br>

            <ion-item lines="none" *ngFor="let page of this.pages" (click)="closeMenu()" [routerLink]="page.url" routerDirection="root">

                <ion-icon name="{{page.icon}}" slot="start" color="dark"></ion-icon>
                <ion-label>
                    <strong style="color:rgb(19, 18, 18)"> {{page.title}}</strong>
                </ion-label>

            </ion-item>


        </ion-content>

        <ion-footer no-border>


            <ul>

                &nbsp;

                <ion-icon (click)="this.openLink('Facebook')" slot="icon-only" color="facebook" style="zoom:2.5;" name="logo-facebook"></ion-icon>

                &nbsp;

                <ion-icon (click)="this.openLink('Twitter')" slot="icon-only" color="twitter" style="zoom:2.5;" name="logo-twitter"></ion-icon>

                &nbsp;


                <ion-icon (click)="this.openLink('Instagram')" slot="icon-only" color="instagram" style="zoom:2.5;" name="logo-instagram"></ion-icon>

                &nbsp;

                <ion-icon slot="icon-only" color="google" style="zoom:2.5;" name="logo-google"></ion-icon>


            </ul>

        </ion-footer>

    </ion-menu>

    <ion-router-outlet id="menu" main>

    </ion-router-outlet>

</ion-app>