<ion-app>
    <ion-menu contentId="menu" side="start">

        <ion-header></ion-header>

        <ion-content>

            <ion-list *ngFor="let page of this.pages">

                <ion-item [routerLink]="page.url" routerDirection="root">

                    <ion-icon name="{{page.icon}}" slot="start"></ion-icon>
                    <ion-label>
                        {{page.title}}
                    </ion-label>

                </ion-item>

            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-router-outlet id="menu" main>

    </ion-router-outlet>

</ion-app>